.about_container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

  section > h1 {
    margin-left: 890px;
     font-size: 2.5rem;
   }
    
   .about_me {
    background: linear-gradient(#582929, #0c1e67);
    width: 22rem;
    margin-top: -4rem;
    border-radius: 12rem 12rem 0px 0px;
    overflow: hidden;
  }
   
   .about_me-image{
       display: grid;
       place-items: center;
       margin-top: -17px;
   }
   .btn{
    width: 8rem;
   display: inline-block;
   color: var(--color-primary);
   padding: 0.75re, 1.2rem;
   border-radius: 0.4rem;
   cursor: pointer;
   border: 1px solid var(--color-primary);
   transition: var(--transition);
  
   }
   
/* ---- Media queries (Medium devices) ------*/

@media screen and (max-width: 1024px) {
  section > h1 {
    margin-left: 602px;
    font-size: 2.5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }
}

/* ---- Media queries (small devices) ------*/

@media screen and (max-width: 600px) {

  .about_me {
    background: linear-gradient(#582929, #0c1e67);
    width: 15rem;
    margin-top: -4rem;
    border-radius: 12rem 12rem 0px 0px;
    overflow: hidden;
    height: fit-content;
  }

  
p {
  margin-top: -70px;
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
}

}

