.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius:center;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-left: -7rem;
}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact_option-icon {
    font-size: 1.5rem;
    margin-bottom:0.5rem;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/*---- Form ---*/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #dbdbdb40;
    border: 2px solid var(--color-primary-variant);
    resize: none;
}

/* ---- Media queries (Medium devices) ------*/

@media screen and (max-width: 1024px) {
    .h5, h5 {
        font-size: 0.95rem;
        margin: 10px;
      }
}

/* ---- Media queries (small devices) ------*/

@media screen and (max-width: 600px) {
    .h5, h5 {
        font-size: 0.72rem;
      }
}